@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tingyu Huang Website";
    ViewBag.BestClassEver = "IS 413";
}


<body>
    <!-- Grade Calculator -->
    <h2>Calculate Your @ViewBag.BestClassEver Grade</h2>
    <form onsubmit="return calc()">
        <label>All Assignments Score</label>
        <input id="assignments" min="0" max="100" step=". 01" required />
        <br />
        <label>Group Projects Score</label>
        <input id="groupProjects" min="0" max="100" step=". 01" required />
        <br />
        <label>Quizzes Score</label>
        <input id="quizzes" min="0" max="100" step=". 01" required />
        <br />
        <label>Exams Score</label>
        <input id="exams" min="0" max="100" step=". 01" required />
        <br />
        <label>Intex Score</label>
        <input id="intex" min="0" max="100" step=". 01" required />
        <br /><br />
        <input type="submit" value="Calculate My Grade" id="submit" class="submit" />
    </form>
</body>
